head
	title Gulp Boilerplate
	meta(charset="UTF-8")
	meta(name="viewport" content="initial-scale=1.0,maximum-scale=2.0,user-scalable=yes,width=device-width")
	link(rel='stylesheet', href='front/css/main.css', type='text/css' )
