doctype html
html(lang="fr")

	include ./partials/head.jade
	include ./partials/templates.jade
	
	body
		
		include ./partials/main.jade

		script(type="text/javascript" src="front/js/libs.js")
		script(type="text/javascript" src="front/js/bundle.js")
