///////////////////////////////////////////////////////////////////////////
// VARIABLES
///////////////////////////////////////////////////////////////////////////
c1 = #CCC
c2 = #333
c3 = #FFF
c4 = #ff0
c5 = #ff0000
	
///////////////////////////////////////////////////////////////////////////
// MIXINS
///////////////////////////////////////////////////////////////////////////
border-radius(n)
	-webkit-border-radius : n
	-moz-border-radius    : n
	border-radius         : n
	

///////////////////////////////////////////////////////////////////////////
// GENERAL
///////////////////////////////////////////////////////////////////////////	
*
	box-sizing: border-box

html
	height: 100%
	
body
	background-color:c3
	height: 100%
	// background-image:none
	// background-position: center
	// background-repeat:no-repeat
	// background-size: 100% 
	
h1, h2, h3, h4, h5, h6
	// line-height: 0rem
	font-weight: normal!important
	
ul
	list-style-type: none
	
	
///////////////////////////////////////////////////////////////////////////
// UTILS
///////////////////////////////////////////////////////////////////////////

.roundBox
	background-color: c1
	border-radius(5px)
	
button
	border-radius(5px)
	padding: 5px 20px 5px 13px
	border-width: 0px;
	background-color: c2
	color: #fff
	font-size: 1.2rem
	height: 30px	
	
button:focus, button:hover
	border: 0px
	
.btn
	cursor: pointer
	
.line
	height: 1px
	background-color:c3
	
.hidden	
	display: none

		
///////////////////////////////////////////////////////////////////////////
// MAIN
///////////////////////////////////////////////////////////////////////////

body
	// overflow-y: hidden
#main
	// overflow: hidden
